<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Assignments</title>
    <head>
    <body>
    <p>Assignment1: Written was about binary and some basic CS theory. Coding was basics of python lists and manipulations of lists. It was fun trying to figure out the one-line solutions, and now that I know numpy, I would like to try to do them with numpy as well in one line.</p>
    <p>Assignment2: Written was search algorithms and big O. Programming was a projectile simulator and the basics of the engi1006 library.</p>
    <p>Assignment3: Written was recursion and some functions. Programming was the percolation simulator and continuing the engi1006 library.</p>
    <p>Assignment4: No written. Programming was OOP in the context of simulating a classroom with a teacher, students, assignments and grades.</p>
    <p>Midterm: Midterm was creating a library to edit ppm photos and apply three effects, namely black-and-white, horizontal-flip, and object filter. Some of these effects can be seen <a href="/">here</a> </p>
    <p>Assignment5: HW5 was knn and some models from the scikit-learn library. Also some graphing methods and pandas as well.</p>
    <p>Final: Final was <a href="/assignments">this</a> (Recursive definition). Also basics of git.</p>
	
    <p>Favorite assignemnt: My two favorite assignments were the midterm and HW3. I found the midterm very enjoyable to do, but also found it very useful because I could use it after the assignment was over. I also liked HW3, mostly because of the visual at the end of the water flowing down.</p>
	
    </body>
</html>

