<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Classes</title>
    <head>
	<style>
	table, th, td {border: 1px solid black;}
	</style>
    <body>
    <p> 
	<table style="width:100%">
  <tr>
    <th>Class code</th>
    <th>Class name</th>
  </tr>
  <tr>
    <td>ENGI 1006</td>
    <td>Introduction to Computing and Programmming in Python</td>
  </tr>
  <tr>
    <td>COMS 3134</td>
    <td>Data Structures in Java</td>
  </tr>
  <tr>
    <td>COMS 3203</td>
    <td>Discrete Mathematics</td>
  </tr>
  <tr>
    <td>PHYS 1402</td>
    <td>Introduction to Electricity and Magnetism</td>
  </tr>
  <tr>
    <td>ENGI 1102</td>
    <td>The Art of Engineering</td>
  </tr>
  <tr>
    <td>PHED 1002</td>
    <td>Recreational Games</td>
  </tr>
</table> </p>

	<p>From the classes I have taken so far, I have enjoyed Intro to Python and Data Structures the most. In both classes, we got to do things that felt like they could apply in the real world.
    I especially liked python because the language is so intuitive and more fitted for personal projects that I might want to do afterwards.</p>
	
    </body>
</html>

