<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home Page</title>
    <head>
    <body>
    <p>Name: Kidus</p>
	<img src="static/me.jpg" width="350" height="460" alt="me_original">
	<img src="static/me_bnw.jpg" width="350" height="460" alt="me_bnw">
	<img src="static/me_flip.jpg" width="350" height="460" alt="me_flipped">
	
	<p>Current year: ፩ (1 in my language) </p>
	<p>Favorite Website: <a href="/">I think this website is cool</a> </p>
	 
	<p>Assignments page: <a href="/assignments">Assignments</a>  </p>
	
    </body>
</html>

